#connect-four {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-gap: 5px;
    }
    
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }

.red { background-color: #FF0000; }
.yellow { background-color: #FFFF00; }
